* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16p1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 2rem 2rem 0 2rem;
}

/* header */
.logo:link, .logo:visited{
    position:absolute;
    top:1rem;
    left:2rem;
    color:#fff;
    letter-spacing: 1rem;
    font-size:2rem;
    font-weight: 100;
    text-decoration: none;
}

.nav-link:link, .nav-link:visited{
    margin-top:1rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight:400;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.navbar-toggler-icon{
    position: absolute;
    top:2rem;
    right:2rem;
    display:visible;

}


.header{
    height:100vh;
    background-image: linear-gradient(to right bottom, rgba(233, 100, 67, 0.8), rgba(144, 78, 149, 0.8)), url("../images/food-1.jpg");
    position:relative;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: top;
    text-align: center;
}

.text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

  
.header-heading {
color: #fff;
text-transform: uppercase;
margin-bottom: 4rem;
backface-visibility: hidden;
}

.header-heading-main {
display: block;
font-size: 2rem;
font-weight: 700;
letter-spacing: 1rem;
animation: moveInLeft 2s ease-out;
}

.header-heading-sub {
display: block;
font-size: 2rem;
font-weight: 400;
margin-top: 1.2rem;
letter-spacing: 16.7px;
animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
0% {
    opacity: 0;
    transform: translateX(-100px); }
70% {
    transform: translateX(10px); }
100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
0% {
    opacity: 0;
    transform: translateX(100px); }
70% {
    transform: translateX(-10px); }
100% {
    opacity: 1;
    transform: translate(0); } }

.btn-top:link, .btn-top:visited{
    color:#777;
    background-color: #fff;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    transition: all .2s;
}

.btn-top:hover{
    transform: translateY(-2px);
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.5);
}

/* history */
.history{
    text-align:center;
    padding:4rem 3rem 10rem 3rem;
    position: relative;
    overflow:hidden;
    transition: all .2s;
    backface-visibility: hidden;
    background-color: #eee;
}

.history:hover .image-story{
   animation: image 1s;
}
@keyframes image {
    0% {
        opacity: 0;
        transform: translateX(-10px); }
    70% {
        transform: translateX(5px); }
    100% {
        opacity: 1;
        transform: translateX(8px); } }

.image-story{
    position: absolute;
    top:.6rem;
    left:-10.6rem;   
}

.history-heading{
    margin-bottom:5rem;
    padding:3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight:700;
    letter-spacing: 0.1rem;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(233, 100, 67), rgba(144, 78, 149) );
    -webkit-background-clip: text;
    color:transparent;
    transition: all .2s;
}

.history-heading:hover{
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);
}

.history-content{
    text-align: justify;
}

.history-photo-main{
    position:relative;
}

.history-photo{
    width:50%;
    position:absolute;
    z-index:1;
    outline-offset: 1rem;
    transition: all .3s;
}

.history-photo-1{
top:-2rem;
left:3rem;
}

.history-photo-2{
    top:2rem;
    right:0;
}

.history-photo-3{
    top:5rem;
    left:20%;
}

.history-photo:hover{
    transform: translateY(-2px) scale(1.2);
    outline: .6rem solid rgb(207, 96, 142);
    z-index:10;
}

.history::before .history::after{
    padding:10rem;
}

.history .col-md-12{
    margin-bottom:5rem;
}


/* today's special */

.menu{
    height:100vh;
    text-align: center;
    margin:5rem 0 30rem 0;
    position: relative;
    transition: all .2s;
}


.menu .container-fluid{
    padding-left:6rem;
    padding-bottom:30rem;
}

.menu .col-md-4:not(:last-child){
    margin-bottom:10rem;
}


.cardFood{
    perspective: 150rem;
    height:11rem; 
    position: relative;
    margin-left: 1.8rem;
} 

.cardSide{
    height:17rem;
    width:82%;
    transition: all .5s;
    position: absolute;
    top:0;
    left:0;
    border-radius: 3px;
    backface-visibility: hidden;
}

.cardSideFront{
    background-color: #fff;
}
.cardSideBack{
    background-image: linear-gradient(to right, rgba(233, 100, 67, 0.8), rgba(144, 78, 149, 0.8) );
    transform: rotateY(-180deg);
    position: relative;
}

.cardFood:hover .cardSideFront{
    transform: rotateY(-180deg);
}
.cardFood:hover .cardSideBack{
    transform: rotateY(0);
}

.card-img-top{
    background-size:cover;
    background-blend-mode: screen;
    height:13rem;
}

.card-text{
    text-transform: uppercase;
    font-weight: 400;
}

.food-price-box{
    position: absolute;
    top:25%;
    left:8%;
    transform: translate(-50% -50%);
    width:80%;
    text-align: center;
    margin-bottom:4rem;
    color:#fff;
    font-weight: 100;
    text-transform: uppercase;
}
.food-price-only{
    font-size:1.5rem;
    font-weight: 400;
}
.food-price-value{
    font-size: 2rem;
    
}

.cart-button:link, .cart-button:visited{
    color:#fff;
    text-decoration: none;
}
.view-all{
    margin:2rem;
}
.view-all:link, .view-all:visited{
    font-size:1.3rem;
    color:#e96443;
    display:inline-block;
    text-decoration: none;
    border-bottom: 1px solid #e96443;
    padding:3px;
    transition: all 0.2s;
}
    
.view-all:hover{
    background-color:#e96443;
    color:#fff;
    box-shadow:0 1rem 2rem rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.view-all:active{
    box-shadow:0.5rem 1rem;
    transform: translateY(0);
}


/* order-online section */

.order-online{
    margin: 0;
    background-image: linear-gradient(to right, rgba(233, 100, 67, 0.8), rgba(144, 78, 149, 0.8) );
    background-size: cover;
    background-position: top;
    text-align: center;
    padding:2rem 0;
    position: relative;
}

.honey{
    z-index:0;  
}
.order-online-image{
    position: absolute;
    bottom:-8rem;
    left:18%;
    z-index:30;
    width:70%;
    clip-path: polygon(0 38%, 100% 50%, 100% 100%, 0 100%);
}

.order-online:hover .order-online-image{
    animation: cake 2s ease;
}
@keyframes cake{
    0%{
opacity:1;
transform: translateY(-50px);
    }
    60%{
transform: translateY(20px);
    }
    100%{
opacity:1;
transform:translate(0);
    }
}

.order-online-main{
    text-align: left;
    color:#fff;
}

.order-para{
    font-size: 1.2rem;
    font-weight: 400;
    margin:0;
}
.order-head{
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom:1rem;
}
  
/* testimonial */

.testimonial{
    margin:8rem 0;
    padding:3rem 0 6rem 0;
    text-align: center;
    position: relative;
    /* background-color: #eee; */
}

.story{
    width:82%;
    margin: 2rem auto;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 3px;
    padding:1.3rem 4rem;
    font-size: 1.2rem;
    text-align: left;
    transform: skewX(-12deg);
  }

  .story-shape{
    width:13rem;
    height: 13rem;
    float:left;
    transform: translateX(-2rem) skewX(12deg);
    position: relative;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
  }

  .story-image{
    height:100%;
    transform: translateX(1.5rem) scale(1.65);
    transition: all 0.5s;
    backface-visibility: hidden;
  }
  .story-text{
   padding-left: 2rem;
   transform: skewX(12deg);
  }
  
  .story-heading{
    padding-top: 1.3rem;
    text-transform: uppercase;
    font-size: 1.3rem;
  }


  .story-para{
    font-size: 1rem; 
  }
  .story-caption{
    position:absolute;
    top:50%;
    left:50%;
    translate: transform(50%,20%);
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: all 0.3s;
    opacity: 0;
    backface-visibility: hidden;
  }

  .story:hover .story-caption{
    opacity:1;
    transform: translate(-50%, -50%);
  }
  
  .story:hover .story-image{
    filter: blur(3px);
  }

 .bg-video{
    
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    opacity: 0.3; 
    overflow: hidden;
  } 
 
.stories-bg-video{
    
    height:100%;
    width:100%;
    object-fit: cover;
  } 

/* contact us */

.contact-us{
    margin:5rem 0;
    padding:5rem 0;
    text-align: center;
    position: relative;
}

.green-image{
    position:absolute;
    top:8rem;
    left:0rem;
    z-index:-1;
}
.contact-us:hover  .green-image{
    animation: pizza 2s ease;
}
@keyframes pizza{
    0%{
opacity:0;
transform: translateX(-50px);
    }
    60%{
transform: translateX(20px);
    }
    100%{
opacity:1;
transform:translate(0);
    }
}

.card{
    overflow: hidden;
}
.card-contact{
    padding:3rem 2rem;
}
.card-body{
    z-index:10;
}
.card-text{
    font-family: 'Inconsolata', monospace;
}
.card-last{
    padding:3.5rem;
}

.cm{
    color:rgba(233, 100, 67, .8);
}

.btn-reserve:link, .btn-reserve:visited{
    color:#fff;
    background-image: linear-gradient(to right, rgba(233, 100, 67, .8), rgba(144, 78, 149, 0.8) );
    text-transform: uppercase;
    padding: 5px 7px;
    display: inline;
    border-radius: 100px;
    text-decoration: none;
    transition: all .2s;
}

.btn-reserve:hover{
    transform: translateY(-2px);
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.15);
}

.image-middle{
    position: absolute;
    bottom:0;
    left:-1rem;
    width:40%;
    z-index:-10;
}

.image-last{
    position: absolute;
    top:-2rem;
    right:-7rem;
    width:80%;
    z-index:-10;

}


  

/* reservation */

.popup{
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.8);
    z-index:9999;
    opacity: 1;
    padding:5rem 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
   
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }

  .popup:target{
    opacity:1;
    visibility: visible;
  }

  .popup-content{
    width:80vh;
    height:90vh;
    color:#fff;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:3px;
    background-image: linear-gradient(to right, rgba(233, 100, 67, .8), rgba(144, 78, 149, 0.8) ), url(../images/food-2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
  }

  .popup:target .popup-content{
    opacity:1;
    transform:translate(-50%, -50%) scale(1);
  } 
  

  .popup-close:link, .popup-close:visited{
    color:#000;
    position: absolute;
    top:1rem;
    right:1rem;
    font-size:3rem;
    text-decoration:none;
    display:inline-block;
    transition: all .2s;
    line-height:1;
  }
  .popup-close:hover{
    color:rgba(233, 100, 67);
  } 

  .reservation-heading{
    margin:2rem auto;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight:400;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all .2s;
  }

.form{
    display:block;
    margin:2rem;

}
.form-control{
    display:block;
    width:100%;
    line-height:1.5;

}
.reservation-form-text{
    margin-top: 1rem;
    text-align: justify;
}

.btn-submit{
    color:#777;
    background-color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    transition: all .2s;
}

.btn-submit:hover{
    transform: translateY(-2px);
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.5);
}

/* footer */

.footer{
    background-image: linear-gradient(to right, rgba(233, 100, 67, .8), rgba(144, 78, 149, 0.8) );
    color:#fff;
    padding:2rem;
    margin-top:10rem;
    text-align: center;
    position: relative;
    z-index:10;
}

.fab, .far{
    color:#fff;
}

.tabs{
    padding:1rem;
}

.image-footer{
    position:absolute;
    top:-10rem;
    right:16rem;
    width:17%;
    z-index:100;
}



/* extras */

/* small-size phones  320px*/
@media(max-width: 20em){
   html{
        font-size:40%;
    } 
    .header-heading-main,.header-heading-sub{
        font-size:1.2rem;
        letter-spacing: .3rem;
    }
    .history{
        padding-bottom:15rem;
    }
    .image-1, .image-2{
        padding-left:40px;
    }

    .image-3,.image-4,.image-5,.image-6{
    display:none;
    visibility:hidden;
    }
    .menu{
        margin-bottom:-15rem;
    }
    .menu .container-fluid{
    padding-left:0;
    }
    .green-image{
        top:-1.4rem;
        left:-6rem;
        transform:scale(.7);
    }
    .order-online-image{
        top:-15rem;
    }
    .order-online .btn-top{
        padding:1rem;
        margin:0;
    }
    
    .image-footer{
        width:25%;
        top:-7rem;
        right:0;
    }
    .popup-content{
        width:54vh;
    }

}


/* medium-size phones  320-375px*/
@media(min-width: 20.1em) and (max-width:23.4375em){
    html{
        font-size:50%;
    }
    .header-heading-main,.header-heading-sub{
        font-size:1.3rem;
        letter-spacing: .3rem;
    }
    .history{
        padding-bottom:15rem;
    }

    .order-online-image{
        width:80%;
        top:-17rem;
    }

    .image-1, .image-2{
        padding-left:40px;
    }

    .image-3,.image-4,.image-5,.image-6{
    display:none;
    visibility:hidden;
    }
    .menu{
        margin-bottom:10rem;
    }
    .menu .container-fluid{
    padding-left:1rem;
    }
    .green-image{
        top:-1.2rem;
        left:-6rem;
        transform:scale(.9);
    }
    
    .image-footer{
        width:25%;
        top:-5rem;
        right:0;
    }
    .popup-content{
        width:64vh;
    }
   
}

/* big-phone upto 425px*/

@media(min-width: 23.5em) and (max-width:26.5625em){
    html{
        font-size:70%;
    }
    .body{
        padding:0;
        margin:0;
    }
    .header-heading-main,.header-heading-sub{
        font-size:1rem;
        letter-spacing: .3rem;
    }
    .history-photo{
        width:70%;
    }
    .history-photo-1{
        top:-5rem;
        left:2rem;
    }
    .history-photo-2{
        top:-1rem;
        right:-2.5rem;
    }
    .history-photo-3{
        top:0;
        left:-2rem;
    }

    .menu{
        margin:0 0 15rem 0;
        width:100%;
    }
    .menu .container-fluid{
    padding-left:1rem;
    }

    .image-1, .image-2{
        padding-left:40px;
    }

    .image-3,.image-4,.image-5,.image-6{
    display:none;
    visibility:hidden;
    }

    .menu .row .col-md-4:not(:last-child){
        margin-bottom:8rem;
    }

    .order-online-image{
        width:80%;
        top:-15rem;
    }
    .order-online .btn-top{
        padding:1rem;
        margin:0;
    }
    .footer{
        margin-top:0;
    }
    .image-footer{
        width:25%;
        top:-3.8rem;
        right:0;
    }
    
    .reservation-form-text{
        margin-top:-2rem;
    }

    .popup-content{
        width:74vh;
    }
   
}

/* tablet 425px-768px*/

@media (min-width: 26.57em) and (max-width: 48em) {
    html {
      font-size: 60%;  
    } 

    .header-heading-main,.header-heading-sub{
        letter-spacing: .3rem;
    }

    .history{
        padding-bottom: 30rem;
    }
    .history-photo{
        width:40%;
    }
    .history-photo-1{
        left:20rem;
    }
    .history-photo-2{
        top:8rem;
        right:11rem;
    }

    .history-photo-3{
        top:8rem;
        left:15%;
    }
    .menu{
        margin-bottom:15rem;
    }
    .green-image{
        top:4rem;
    }
    
    
    .form-group{
        margin-bottom:1rem;
    }
    .form-group .col-lg-6{
        margin-bottom:1rem;     
    }
    
    .reservation-form-text{
        margin-top:2rem;
    }
    .reservation-form-btn{
        margin-top:2rem;
    }
}


/* small-laptop  768-1024px */
@media (min-width: 48.1em) and (max-width: 64em) {
    html {
      font-size: 70%;
     } 

    .header-heading-main,.header-heading-sub{
        letter-spacing: .3rem;
    }
    .green-image{
        top:1rem;
    }
    .form-control, .form-group{
        margin-bottom:1rem;
    }
    
}

/* normal-laptop all settings remains same */

/* big-laptop >1440px */
@media (min-width: 90.1em) {
    html {
      font-size:200%; 
    } 
}

/* and (max-width: 160em)  */